//
// Copyright (c) 2021-Present, Okta, Inc. and/or its affiliates. All rights reserved.
// The Okta software accompanied by this notice is provided pursuant to the Apache License, Version 2.0 (the "License.")
//
// You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0.
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
// WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//
// See the License for the specific language governing permissions and limitations under the License.
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
import AnyCodable

#if canImport(FoundationNetworking)
import FoundationNetworking
#endif

public extension OktaClient {

    struct AuthenticatorAPI: OktaClientAPI {
        internal let context: OktaClient.APIContext

        /**
         Activate an Authenticator
         
         - parameter authenticatorId: (path)  
         */
        @available(iOS 13.0.0, tvOS 13.0.0, *)
        public func activateAuthenticator(authenticatorId: String) async throws -> OktaResponse<Authenticator> {
            try await send(try request(to: "/api/v1/authenticators/{authenticatorId}/lifecycle/activate".expanded(using: [
                    "authenticatorId": authenticatorId
                ]), method: "POST"))
        }

        /**
         Activate an Authenticator
         
         - parameter authenticatorId: (path)  
         - parameter completion: Completion block
         */
        public func activateAuthenticator(authenticatorId: String, completion: @escaping (Result<OktaResponse<Authenticator>, Error>) -> Void) {
            do {
                send(try request(to: "/api/v1/authenticators/{authenticatorId}/lifecycle/activate".expanded(using: [
                        "authenticatorId": authenticatorId
                    ]), method: "POST"), completion: completion)
            } catch {
                completion(.failure(error))
            }
        }

        /**
         Deactivate an Authenticator
         
         - parameter authenticatorId: (path)  
         */
        @available(iOS 13.0.0, tvOS 13.0.0, *)
        public func deactivateAuthenticator(authenticatorId: String) async throws -> OktaResponse<Authenticator> {
            try await send(try request(to: "/api/v1/authenticators/{authenticatorId}/lifecycle/deactivate".expanded(using: [
                    "authenticatorId": authenticatorId
                ]), method: "POST"))
        }

        /**
         Deactivate an Authenticator
         
         - parameter authenticatorId: (path)  
         - parameter completion: Completion block
         */
        public func deactivateAuthenticator(authenticatorId: String, completion: @escaping (Result<OktaResponse<Authenticator>, Error>) -> Void) {
            do {
                send(try request(to: "/api/v1/authenticators/{authenticatorId}/lifecycle/deactivate".expanded(using: [
                        "authenticatorId": authenticatorId
                    ]), method: "POST"), completion: completion)
            } catch {
                completion(.failure(error))
            }
        }

        /**
         Retrieve an Authenticator
         
         - parameter authenticatorId: (path)  
         */
        @available(iOS 13.0.0, tvOS 13.0.0, *)
        public func getAuthenticator(authenticatorId: String) async throws -> OktaResponse<Authenticator> {
            try await send(try request(to: "/api/v1/authenticators/{authenticatorId}".expanded(using: [
                    "authenticatorId": authenticatorId
                ]), method: "GET"))
        }

        /**
         Retrieve an Authenticator
         
         - parameter authenticatorId: (path)  
         - parameter completion: Completion block
         */
        public func getAuthenticator(authenticatorId: String, completion: @escaping (Result<OktaResponse<Authenticator>, Error>) -> Void) {
            do {
                send(try request(to: "/api/v1/authenticators/{authenticatorId}".expanded(using: [
                        "authenticatorId": authenticatorId
                    ]), method: "GET"), completion: completion)
            } catch {
                completion(.failure(error))
            }
        }

        /**
         List all Authenticators
         
         */
        @available(iOS 13.0.0, tvOS 13.0.0, *)
        public func listAuthenticators() async throws -> OktaResponse<[Authenticator]> {
            try await send(try request(to: "/api/v1/authenticators", method: "GET"))
        }

        /**
         List all Authenticators
         
         - parameter completion: Completion block
         */
        public func listAuthenticators(completion: @escaping (Result<OktaResponse<[Authenticator]>, Error>) -> Void) {
            do {
                send(try request(to: "/api/v1/authenticators", method: "GET"), completion: completion)
            } catch {
                completion(.failure(error))
            }
        }

        /**
         Replace an Authenticator
         
         - parameter authenticatorId: (path)  
         - parameter authenticator: (body)  
         */
        @available(iOS 13.0.0, tvOS 13.0.0, *)
        public func updateAuthenticator(authenticatorId: String, authenticator: Authenticator) async throws -> OktaResponse<Authenticator> {
            try await send(try requestWithBody(to: "/api/v1/authenticators/{authenticatorId}".expanded(using: [
                    "authenticatorId": authenticatorId
                ]), method: "PUT", body: authenticator))
        }

        /**
         Replace an Authenticator
         
         - parameter authenticatorId: (path)  
         - parameter authenticator: (body)  
         - parameter completion: Completion block
         */
        public func updateAuthenticator(authenticatorId: String, authenticator: Authenticator, completion: @escaping (Result<OktaResponse<Authenticator>, Error>) -> Void) {
            do {
                send(try requestWithBody(to: "/api/v1/authenticators/{authenticatorId}".expanded(using: [
                        "authenticatorId": authenticatorId
                    ]), method: "PUT", body: authenticator), completion: completion)
            } catch {
                completion(.failure(error))
            }
        }

    }
}
