//
// Copyright (c) 2021-Present, Okta, Inc. and/or its affiliates. All rights reserved.
// The Okta software accompanied by this notice is provided pursuant to the Apache License, Version 2.0 (the "License.")
//
// You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0.
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
// WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//
// See the License for the specific language governing permissions and limitations under the License.
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
import AnyCodable

#if canImport(Combine)
import Combine
#endif

#if canImport(FoundationNetworking)
import FoundationNetworking
#endif

public extension OktaClient {

    struct AuthenticatorAPI: OktaClientAPI {
        internal let baseURL: URL
        internal let urlSession: URLSession


        internal func activateAuthenticatorURLRequest(authenticatorId: String) throws -> URLRequest {
            try request(to: "/api/v1/authenticators/{authenticatorId}/lifecycle/activate".expanded(using: [
                "authenticatorId": authenticatorId
            ]), method: "POST")
        }

        /**
         Activate Authenticator
         
         - parameter authenticatorId: (path)  
         - parameter completion: completion handler to receive the data and the error objects
         */
        func activateAuthenticator(authenticatorId: String, completion: @escaping (Result<OktaResponse<Empty>, Error>) -> Void) {
            do {
                send(try activateAuthenticatorURLRequest(authenticatorId: authenticatorId), completion: completion)
            } catch {
                completion(.failure(error))
            }
        }

        #if swift(>=5.5.1)
        /**
         Activate Authenticator
         
         - parameter authenticatorId: (path)  
         */
        @available(iOS 15.0, tvOS 15.0, macOS 12.0, *)
        func activateAuthenticator(authenticatorId: String) async throws -> OktaResponse<Empty> {
            try await send(try activateAuthenticatorURLRequest(authenticatorId: authenticatorId))
        }
        #endif

        #if canImport(Combine)
        /**
         Activate Authenticator
         
         - parameter authenticatorId: (path)  
         */
        @available(iOS 13.0, tvOS 13.0, macOS 10.15, *)
        func activateAuthenticator(authenticatorId: String) throws -> AnyPublisher<OktaResponse<Empty>, Error> {
            publish(try activateAuthenticatorURLRequest(authenticatorId: authenticatorId))
        }
        #endif


        internal func deactivateAuthenticatorURLRequest(authenticatorId: String) throws -> URLRequest {
            try request(to: "/api/v1/authenticators/{authenticatorId}/lifecycle/deactivate".expanded(using: [
                "authenticatorId": authenticatorId
            ]), method: "POST")
        }

        /**
         Deactivate Authenticator
         
         - parameter authenticatorId: (path)  
         - parameter completion: completion handler to receive the data and the error objects
         */
        func deactivateAuthenticator(authenticatorId: String, completion: @escaping (Result<OktaResponse<Empty>, Error>) -> Void) {
            do {
                send(try deactivateAuthenticatorURLRequest(authenticatorId: authenticatorId), completion: completion)
            } catch {
                completion(.failure(error))
            }
        }

        #if swift(>=5.5.1)
        /**
         Deactivate Authenticator
         
         - parameter authenticatorId: (path)  
         */
        @available(iOS 15.0, tvOS 15.0, macOS 12.0, *)
        func deactivateAuthenticator(authenticatorId: String) async throws -> OktaResponse<Empty> {
            try await send(try deactivateAuthenticatorURLRequest(authenticatorId: authenticatorId))
        }
        #endif

        #if canImport(Combine)
        /**
         Deactivate Authenticator
         
         - parameter authenticatorId: (path)  
         */
        @available(iOS 13.0, tvOS 13.0, macOS 10.15, *)
        func deactivateAuthenticator(authenticatorId: String) throws -> AnyPublisher<OktaResponse<Empty>, Error> {
            publish(try deactivateAuthenticatorURLRequest(authenticatorId: authenticatorId))
        }
        #endif


        internal func getAuthenticatorURLRequest(authenticatorId: String) throws -> URLRequest {
            try request(to: "/api/v1/authenticators/{authenticatorId}".expanded(using: [
                "authenticatorId": authenticatorId
            ]), method: "GET")
        }

        /**
         Get Authenticator
         
         - parameter authenticatorId: (path)  
         - parameter completion: completion handler to receive the data and the error objects
         */
        func getAuthenticator(authenticatorId: String, completion: @escaping (Result<OktaResponse<Authenticator>, Error>) -> Void) {
            do {
                send(try getAuthenticatorURLRequest(authenticatorId: authenticatorId), completion: completion)
            } catch {
                completion(.failure(error))
            }
        }

        #if swift(>=5.5.1)
        /**
         Get Authenticator
         
         - parameter authenticatorId: (path)  
         */
        @available(iOS 15.0, tvOS 15.0, macOS 12.0, *)
        func getAuthenticator(authenticatorId: String) async throws -> OktaResponse<Authenticator> {
            try await send(try getAuthenticatorURLRequest(authenticatorId: authenticatorId))
        }
        #endif

        #if canImport(Combine)
        /**
         Get Authenticator
         
         - parameter authenticatorId: (path)  
         */
        @available(iOS 13.0, tvOS 13.0, macOS 10.15, *)
        func getAuthenticator(authenticatorId: String) throws -> AnyPublisher<OktaResponse<Authenticator>, Error> {
            publish(try getAuthenticatorURLRequest(authenticatorId: authenticatorId))
        }
        #endif


        internal func listAuthenticatorsURLRequest() throws -> URLRequest {
            try request(to: "/api/v1/authenticators", method: "GET")
        }

        /**
         List Authenticators
         
         - parameter completion: completion handler to receive the data and the error objects
         */
        func listAuthenticators(completion: @escaping (Result<OktaResponse<[Authenticator]>, Error>) -> Void) {
            do {
                send(try listAuthenticatorsURLRequest(), completion: completion)
            } catch {
                completion(.failure(error))
            }
        }

        #if swift(>=5.5.1)
        /**
         List Authenticators
         
         */
        @available(iOS 15.0, tvOS 15.0, macOS 12.0, *)
        func listAuthenticators() async throws -> OktaResponse<[Authenticator]> {
            try await send(try listAuthenticatorsURLRequest())
        }
        #endif

        #if canImport(Combine)
        /**
         List Authenticators
         
         */
        @available(iOS 13.0, tvOS 13.0, macOS 10.15, *)
        func listAuthenticators() throws -> AnyPublisher<OktaResponse<[Authenticator]>, Error> {
            publish(try listAuthenticatorsURLRequest())
        }
        #endif

    }
}
