//
// Copyright (c) 2021-Present, Okta, Inc. and/or its affiliates. All rights reserved.
// The Okta software accompanied by this notice is provided pursuant to the Apache License, Version 2.0 (the "License.")
//
// You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0.
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
// WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//
// See the License for the specific language governing permissions and limitations under the License.
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
import AnyCodable

#if canImport(Combine)
import Combine
#endif

#if canImport(FoundationNetworking)
import FoundationNetworking
#endif

public extension OktaClient {

    struct GroupSchemaAPI: OktaClientAPI {
        internal let context: OktaClient.APIContext


        internal func getGroupSchemaURLRequest() throws -> URLRequest {
            try request(to: "/api/v1/meta/schemas/group/default", method: "GET")
        }

        /**
         Fetches the group schema
         
         - parameter completion: completion handler to receive the data and the error objects
         */
        public func getGroupSchema(completion: @escaping (Result<OktaResponse<GroupSchema>, Error>) -> Void) {
            do {
                send(try getGroupSchemaURLRequest(), completion: completion)
            } catch {
                completion(.failure(error))
            }
        }

        #if swift(>=5.5.1) && !os(Linux)
        /**
         Fetches the group schema
         
         */
        @available(iOS 15.0, tvOS 15.0, macOS 12.0, *)
        public func getGroupSchema() async throws -> OktaResponse<GroupSchema> {
            try await send(try getGroupSchemaURLRequest())
        }
        #endif

        #if canImport(Combine)
        /**
         Fetches the group schema
         
         */
        @available(iOS 13.0, tvOS 13.0, macOS 10.15, *)
        public func getGroupSchema() throws -> AnyPublisher<OktaResponse<GroupSchema>, Error> {
            publish(try getGroupSchemaURLRequest())
        }
        #endif


        internal func updateGroupSchemaURLRequest(groupSchema: GroupSchema? = nil) throws -> URLRequest {
            try request(to: "/api/v1/meta/schemas/group/default", method: "POST", body: groupSchema)
        }

        /**
         Updates, adds ore removes one or more custom Group Profile properties in the schema
         
         - parameter groupSchema: (body)  (optional)
         - parameter completion: completion handler to receive the data and the error objects
         */
        public func updateGroupSchema(groupSchema: GroupSchema? = nil, completion: @escaping (Result<OktaResponse<GroupSchema>, Error>) -> Void) {
            do {
                send(try updateGroupSchemaURLRequest(groupSchema: groupSchema), completion: completion)
            } catch {
                completion(.failure(error))
            }
        }

        #if swift(>=5.5.1) && !os(Linux)
        /**
         Updates, adds ore removes one or more custom Group Profile properties in the schema
         
         - parameter groupSchema: (body)  (optional)
         */
        @available(iOS 15.0, tvOS 15.0, macOS 12.0, *)
        public func updateGroupSchema(groupSchema: GroupSchema? = nil) async throws -> OktaResponse<GroupSchema> {
            try await send(try updateGroupSchemaURLRequest(groupSchema: groupSchema))
        }
        #endif

        #if canImport(Combine)
        /**
         Updates, adds ore removes one or more custom Group Profile properties in the schema
         
         - parameter groupSchema: (body)  (optional)
         */
        @available(iOS 13.0, tvOS 13.0, macOS 10.15, *)
        public func updateGroupSchema(groupSchema: GroupSchema? = nil) throws -> AnyPublisher<OktaResponse<GroupSchema>, Error> {
            publish(try updateGroupSchemaURLRequest(groupSchema: groupSchema))
        }
        #endif

    }
}
