//
// Copyright (c) 2021-Present, Okta, Inc. and/or its affiliates. All rights reserved.
// The Okta software accompanied by this notice is provided pursuant to the Apache License, Version 2.0 (the "License.")
//
// You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0.
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
// WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//
// See the License for the specific language governing permissions and limitations under the License.
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
import AnyCodable

#if canImport(FoundationNetworking)
import FoundationNetworking
#endif

public extension OktaClient {

    struct LinkedObjectAPI: OktaClientAPI {
        internal let context: OktaClient.APIContext

        /**
         Create a Linked Object Definition
         
         - parameter linkedObject: (body)  
         */
        public func addLinkedObjectDefinition(linkedObject: LinkedObject) async throws -> OktaResponse<LinkedObject> {
            try await send(try requestWithBody(to: "/api/v1/meta/schemas/user/linkedObjects", method: "POST", body: linkedObject))
        }

        /**
         Create a Linked Object Definition
         
         - parameter linkedObject: (body)  
         - parameter completion: Completion block
         */
        public func addLinkedObjectDefinition(linkedObject: LinkedObject, completion: @escaping (Result<OktaResponse<LinkedObject>, Error>) -> Void) {
            do {
                send(try requestWithBody(to: "/api/v1/meta/schemas/user/linkedObjects", method: "POST", body: linkedObject), completion: completion)
            } catch {
                completion(.failure(error))
            }
        }

        /**
         Delete a Linked Object Definition
         
         - parameter linkedObjectName: (path)  
         */
        @discardableResult
        public func deleteLinkedObjectDefinition(linkedObjectName: String) async throws -> OktaResponse<Empty> {
            try await send(try request(to: "/api/v1/meta/schemas/user/linkedObjects/{linkedObjectName}".expanded(using: [
                    "linkedObjectName": linkedObjectName
                ]), method: "DELETE"))
        }

        /**
         Delete a Linked Object Definition
         
         - parameter linkedObjectName: (path)  
         - parameter completion: Completion block
         */
        public func deleteLinkedObjectDefinition(linkedObjectName: String, completion: @escaping (Result<OktaResponse<Empty>, Error>) -> Void) {
            do {
                send(try request(to: "/api/v1/meta/schemas/user/linkedObjects/{linkedObjectName}".expanded(using: [
                        "linkedObjectName": linkedObjectName
                    ]), method: "DELETE"), completion: completion)
            } catch {
                completion(.failure(error))
            }
        }

        /**
         Retrieve a Linked Object Definition
         
         - parameter linkedObjectName: (path)  
         */
        public func getLinkedObjectDefinition(linkedObjectName: String) async throws -> OktaResponse<LinkedObject> {
            try await send(try request(to: "/api/v1/meta/schemas/user/linkedObjects/{linkedObjectName}".expanded(using: [
                    "linkedObjectName": linkedObjectName
                ]), method: "GET"))
        }

        /**
         Retrieve a Linked Object Definition
         
         - parameter linkedObjectName: (path)  
         - parameter completion: Completion block
         */
        public func getLinkedObjectDefinition(linkedObjectName: String, completion: @escaping (Result<OktaResponse<LinkedObject>, Error>) -> Void) {
            do {
                send(try request(to: "/api/v1/meta/schemas/user/linkedObjects/{linkedObjectName}".expanded(using: [
                        "linkedObjectName": linkedObjectName
                    ]), method: "GET"), completion: completion)
            } catch {
                completion(.failure(error))
            }
        }

        /**
         List all Linked Object Definitions
         
         */
        public func listLinkedObjectDefinitions() async throws -> OktaResponse<[LinkedObject]> {
            try await send(try request(to: "/api/v1/meta/schemas/user/linkedObjects", method: "GET"))
        }

        /**
         List all Linked Object Definitions
         
         - parameter completion: Completion block
         */
        public func listLinkedObjectDefinitions(completion: @escaping (Result<OktaResponse<[LinkedObject]>, Error>) -> Void) {
            do {
                send(try request(to: "/api/v1/meta/schemas/user/linkedObjects", method: "GET"), completion: completion)
            } catch {
                completion(.failure(error))
            }
        }

    }
}
