//
// Copyright (c) 2021-Present, Okta, Inc. and/or its affiliates. All rights reserved.
// The Okta software accompanied by this notice is provided pursuant to the Apache License, Version 2.0 (the "License.")
//
// You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0.
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
// WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//
// See the License for the specific language governing permissions and limitations under the License.
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
import AnyCodable

#if canImport(FoundationNetworking)
import FoundationNetworking
#endif

public extension OktaClient {

    struct OrgSettingAPI: OktaClientAPI {
        internal let context: OktaClient.APIContext

        /**
         Remove Emails from Email Provider Bounce List
         
         - parameter bouncesRemoveListObj: (body)  (optional)
         */
        func bulkRemoveEmailAddressBounces(bouncesRemoveListObj: BouncesRemoveListObj? = nil) async throws -> OktaResponse<BouncesRemoveListResult> {
            try await send(try requestWithBody(to: "/api/v1/org/email/bounces/remove-list", method: "POST", body: bouncesRemoveListObj))
        }

        /**
         Extend Okta Support Access
         
         */
        func extendOktaSupport() async throws -> OktaResponse<OrgOktaSupportSettingsObj> {
            try await send(try request(to: "/api/v1/org/privacy/oktaSupport/extend", method: "POST"))
        }

        /**
         Retreive the Okta Communication Settings
         
         */
        func getOktaCommunicationSettings() async throws -> OktaResponse<OrgOktaCommunicationSetting> {
            try await send(try request(to: "/api/v1/org/privacy/oktaCommunication", method: "GET"))
        }

        /**
         Retrieve the Org Contact Types
         
         */
        func getOrgContactTypes() async throws -> OktaResponse<[OrgContactTypeObj]> {
            try await send(try request(to: "/api/v1/org/contacts", method: "GET"))
        }

        /**
         Retrieve the User of the Contact Type
         
         - parameter contactType: (path)  
         */
        func getOrgContactUser(contactType: String) async throws -> OktaResponse<OrgContactUser> {
            try await send(try request(to: "/api/v1/org/contacts/{contactType}".expanded(using: [
                    "contactType": contactType
                ]), method: "GET"))
        }

        /**
         Retrieve the Okta Support Settings
         
         */
        func getOrgOktaSupportSettings() async throws -> OktaResponse<OrgOktaSupportSettingsObj> {
            try await send(try request(to: "/api/v1/org/privacy/oktaSupport", method: "GET"))
        }

        /**
         Retrieve the Org Preferences
         
         */
        func getOrgPreferences() async throws -> OktaResponse<OrgPreferences> {
            try await send(try request(to: "/api/v1/org/preferences", method: "GET"))
        }

        /**
         Retrieve the Org Settings
         
         */
        func getOrgSettings() async throws -> OktaResponse<OrgSetting> {
            try await send(try request(to: "/api/v1/org", method: "GET"))
        }

        /**
         Grant Okta Support Access to your Org
         
         */
        func grantOktaSupport() async throws -> OktaResponse<OrgOktaSupportSettingsObj> {
            try await send(try request(to: "/api/v1/org/privacy/oktaSupport/grant", method: "POST"))
        }

        /**
         Update the Preference to Hide the Okta Dashboard Footer
         
         */
        func hideOktaUIFooter() async throws -> OktaResponse<OrgPreferences> {
            try await send(try request(to: "/api/v1/org/preferences/hideEndUserFooter", method: "POST"))
        }

        /**
         Opt in all Users to Okta Communication emails
         
         */
        func optInUsersToOktaCommunicationEmails() async throws -> OktaResponse<OrgOktaCommunicationSetting> {
            try await send(try request(to: "/api/v1/org/privacy/oktaCommunication/optIn", method: "POST"))
        }

        /**
         Opt out all Users from Okta Communication emails
         
         */
        func optOutUsersFromOktaCommunicationEmails() async throws -> OktaResponse<OrgOktaCommunicationSetting> {
            try await send(try request(to: "/api/v1/org/privacy/oktaCommunication/optOut", method: "POST"))
        }

        /**
         Update the Org Settings
         
         - parameter orgSetting: (body)  (optional)
         */
        func partialUpdateOrgSetting(orgSetting: OrgSetting? = nil) async throws -> OktaResponse<OrgSetting> {
            try await send(try requestWithBody(to: "/api/v1/org", method: "POST", body: orgSetting))
        }

        /**
         Revoke Okta Support Access
         
         */
        func revokeOktaSupport() async throws -> OktaResponse<OrgOktaSupportSettingsObj> {
            try await send(try request(to: "/api/v1/org/privacy/oktaSupport/revoke", method: "POST"))
        }

        /**
         Update the Preference to Show the Okta Dashboard Footer
         
         */
        func showOktaUIFooter() async throws -> OktaResponse<OrgPreferences> {
            try await send(try request(to: "/api/v1/org/preferences/showEndUserFooter", method: "POST"))
        }

        /**
         Replace the User of the Contact Type
         
         - parameter contactType: (path)  
         - parameter orgContactUser: (body)  
         */
        func updateOrgContactUser(contactType: String, orgContactUser: OrgContactUser) async throws -> OktaResponse<OrgContactUser> {
            try await send(try requestWithBody(to: "/api/v1/org/contacts/{contactType}".expanded(using: [
                    "contactType": contactType
                ]), method: "PUT", body: orgContactUser))
        }

        /**
         Upload the Org Logo
         
         - parameter file: (form)  
         */
        @discardableResult
        func updateOrgLogo(file: URL) async throws -> OktaResponse<Empty> {
            try await send(try request(to: "/api/v1/org/logo", method: "POST"))
        }

        /**
         Replace the Org Settings
         
         - parameter orgSetting: (body)  
         */
        func updateOrgSetting(orgSetting: OrgSetting) async throws -> OktaResponse<OrgSetting> {
            try await send(try requestWithBody(to: "/api/v1/org", method: "PUT", body: orgSetting))
        }

    }
}
