//
// Copyright (c) 2021-Present, Okta, Inc. and/or its affiliates. All rights reserved.
// The Okta software accompanied by this notice is provided pursuant to the Apache License, Version 2.0 (the "License.")
//
// You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0.
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
// WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//
// See the License for the specific language governing permissions and limitations under the License.
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
import AnyCodable

#if canImport(FoundationNetworking)
import FoundationNetworking
#endif

public extension OktaClient {

    struct ProfileMappingAPI: OktaClientAPI {
        internal let context: OktaClient.APIContext

        /**
         Retrieve a Profile Mapping
         
         - parameter mappingId: (path)  
         */
        @available(iOS 13.0.0, tvOS 13.0.0, *)
        public func getProfileMapping(mappingId: String) async throws -> OktaResponse<ProfileMapping> {
            try await send(try request(to: "/api/v1/mappings/{mappingId}".expanded(using: [
                    "mappingId": mappingId
                ]), method: "GET"))
        }

        /**
         Retrieve a Profile Mapping
         
         - parameter mappingId: (path)  
         - parameter completion: Completion block
         */
        public func getProfileMapping(mappingId: String, completion: @escaping (Result<OktaResponse<ProfileMapping>, Error>) -> Void) {
            do {
                send(try request(to: "/api/v1/mappings/{mappingId}".expanded(using: [
                        "mappingId": mappingId
                    ]), method: "GET"), completion: completion)
            } catch {
                completion(.failure(error))
            }
        }

        /**
         List all Profile Mappings
         
         - parameter after: (query)  (optional)
         - parameter limit: (query)  (optional, default to -1)
         - parameter sourceId: (query)  (optional)
         - parameter targetId: (query)  (optional, default to "")
         */
        @available(iOS 13.0.0, tvOS 13.0.0, *)
        public func listProfileMappings(after: String? = nil, limit: Int? = nil, sourceId: String? = nil, targetId: String? = nil) async throws -> OktaResponse<[ProfileMapping]> {
            try await send(try request(to: "/api/v1/mappings", method: "GET", query: [
                    "after": after, 
                    "limit": limit, 
                    "sourceId": sourceId, 
                    "targetId": targetId
                ]))
        }

        /**
         List all Profile Mappings
         
         - parameter after: (query)  (optional)
         - parameter limit: (query)  (optional, default to -1)
         - parameter sourceId: (query)  (optional)
         - parameter targetId: (query)  (optional, default to "")
         - parameter completion: Completion block
         */
        public func listProfileMappings(after: String? = nil, limit: Int? = nil, sourceId: String? = nil, targetId: String? = nil, completion: @escaping (Result<OktaResponse<[ProfileMapping]>, Error>) -> Void) {
            do {
                send(try request(to: "/api/v1/mappings", method: "GET", query: [
                        "after": after, 
                        "limit": limit, 
                        "sourceId": sourceId, 
                        "targetId": targetId
                    ]), completion: completion)
            } catch {
                completion(.failure(error))
            }
        }

        /**
         Update a Profile Mapping
         
         - parameter mappingId: (path)  
         - parameter profileMapping: (body)  
         */
        @available(iOS 13.0.0, tvOS 13.0.0, *)
        public func updateProfileMapping(mappingId: String, profileMapping: ProfileMapping) async throws -> OktaResponse<ProfileMapping> {
            try await send(try requestWithBody(to: "/api/v1/mappings/{mappingId}".expanded(using: [
                    "mappingId": mappingId
                ]), method: "POST", body: profileMapping))
        }

        /**
         Update a Profile Mapping
         
         - parameter mappingId: (path)  
         - parameter profileMapping: (body)  
         - parameter completion: Completion block
         */
        public func updateProfileMapping(mappingId: String, profileMapping: ProfileMapping, completion: @escaping (Result<OktaResponse<ProfileMapping>, Error>) -> Void) {
            do {
                send(try requestWithBody(to: "/api/v1/mappings/{mappingId}".expanded(using: [
                        "mappingId": mappingId
                    ]), method: "POST", body: profileMapping), completion: completion)
            } catch {
                completion(.failure(error))
            }
        }

    }
}
