//
// Copyright (c) 2021-Present, Okta, Inc. and/or its affiliates. All rights reserved.
// The Okta software accompanied by this notice is provided pursuant to the Apache License, Version 2.0 (the "License.")
//
// You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0.
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
// WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//
// See the License for the specific language governing permissions and limitations under the License.
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
import AnyCodable

#if canImport(FoundationNetworking)
import FoundationNetworking
#endif

public extension OktaClient {

    struct ThreatInsightAPI: OktaClientAPI {
        internal let context: OktaClient.APIContext

        /**
         Retrieve the ThreatInsight Configuration
         
         */
        public func getCurrentConfiguration() async throws -> OktaResponse<ThreatInsightConfiguration> {
            try await send(try request(to: "/api/v1/threats/configuration", method: "GET"))
        }

        /**
         Update the ThreatInsight Configuration
         
         - parameter threatInsightConfiguration: (body)  
         */
        public func updateConfiguration(threatInsightConfiguration: ThreatInsightConfiguration) async throws -> OktaResponse<ThreatInsightConfiguration> {
            try await send(try requestWithBody(to: "/api/v1/threats/configuration", method: "POST", body: threatInsightConfiguration))
        }

    }
}
