//
// Copyright (c) 2021-Present, Okta, Inc. and/or its affiliates. All rights reserved.
// The Okta software accompanied by this notice is provided pursuant to the Apache License, Version 2.0 (the "License.")
//
// You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0.
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
// WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//
// See the License for the specific language governing permissions and limitations under the License.
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
import AnyCodable

#if canImport(FoundationNetworking)
import FoundationNetworking
#endif

public extension OktaClient {

    struct UserTypeAPI: OktaClientAPI {
        internal let context: OktaClient.APIContext

        /**
         Create a User Type
         
         - parameter userType: (body)  
         */
        func createUserType(userType: UserType) async throws -> OktaResponse<UserType> {
            try await send(try requestWithBody(to: "/api/v1/meta/types/user", method: "POST", body: userType))
        }

        /**
         Delete a User Type
         
         - parameter typeId: (path)  
         */
        @discardableResult
        func deleteUserType(typeId: String) async throws -> OktaResponse<Empty> {
            try await send(try request(to: "/api/v1/meta/types/user/{typeId}".expanded(using: [
                    "typeId": typeId
                ]), method: "DELETE"))
        }

        /**
         Retrieve a User Type
         
         - parameter typeId: (path)  
         */
        func getUserType(typeId: String) async throws -> OktaResponse<UserType> {
            try await send(try request(to: "/api/v1/meta/types/user/{typeId}".expanded(using: [
                    "typeId": typeId
                ]), method: "GET"))
        }

        /**
         List all User Types
         
         */
        func listUserTypes() async throws -> OktaResponse<[UserType]> {
            try await send(try request(to: "/api/v1/meta/types/user", method: "GET"))
        }

        /**
         Replace a User Type
         
         - parameter typeId: (path)  
         - parameter userType: (body)  
         */
        func replaceUserType(typeId: String, userType: UserType) async throws -> OktaResponse<UserType> {
            try await send(try requestWithBody(to: "/api/v1/meta/types/user/{typeId}".expanded(using: [
                    "typeId": typeId
                ]), method: "PUT", body: userType))
        }

        /**
         Update a User Type
         
         - parameter typeId: (path)  
         - parameter userType: (body)  
         */
        func updateUserType(typeId: String, userType: UserType) async throws -> OktaResponse<UserType> {
            try await send(try requestWithBody(to: "/api/v1/meta/types/user/{typeId}".expanded(using: [
                    "typeId": typeId
                ]), method: "POST", body: userType))
        }

    }
}
